.certification {
    align-items: center;
    display: block;
    justify-content: center;
}

.certification h2 {
    color: var(--golden-slumber);
    font-family: 'Cormorant Garamond', serif;
    font-size: 4rem;
    margin: -2rem 0 3rem;
}

.certification-box {
    background-color: transparent;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--golden-slumber);
    color: var(--baby-blossom);
    overflow: hidden;
    padding: 3rem;
    position: relative;
    text-align: center;
    transition: .5s ease;
}

.certification-box hr {
    border-top: .15rem solid var(--golden-slumber);
    display: block;
    opacity: 1;
}

.certification-box h5 {
    color: var(--golden-slumber);
    font-size: .8rem;
}

.certification-box p {
    font-size: .7rem;
    margin: .5rem;
}

.certification-img img {
    width: 100%;
}