<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:fragment="fr-head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Arisya Bowo</title>
    <link rel="icon" type="image/png" th:href="@{/img/title-icon.png}" />

    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />

    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
        href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Mulish:wght@300;500;800&family=Pacifico&family=Titillium+Web:wght@300&display=swap"
        rel="stylesheet" />

    <!-- custom css -->
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/about.css}" rel="stylesheet" />
    <link th:href="@{/css/project.css}" rel="stylesheet" />
    <link th:href="@{/css/education.css}" rel="stylesheet" />
    <link th:href="@{/css/certification.css}" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
    <header th:fragment="fr-header" class="header">
        <nav class="navbar navbar-expand-lg navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">arisyabowo.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a th:classappend="${requestURI} == '/' ? 'active':''" class="nav-link" th:href="@{/}">Home</a>
                        <a th:classappend="${requestURI} == '/about' ? 'active':''" class="nav-link"
                            th:href="@{/about}">About</a>
                        <a th:classappend="${requestURI} == '/project' ? 'active':''" class="nav-link"
                            th:href="@{/}">Project</a>
                        <a th:classappend="${requestURI} == '/education' ? 'active':''" class="nav-link"
                            th:href="@{/}">Education</a>
                        <a th:classappend="${requestURI} == '/certification' ? 'active':''" class="nav-link"
                            th:href="@{/}">Certification</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- footer -->
    <footer th:fragment="fr-footer" class="footer">
        <p>Copyright &copy; 2023 by Arisya | All Rights Reserved.</p>
    </footer>
</body>

</html>